/* .subheading{
    font-size: 20px;
    padding: 30px;
    margin: 20px;
    color: rgb(255, 0, 13);
} */

.Main-heading{
color: rgba(128, 80, 9, 0.452);
box-sizing: border-box;
padding: 50px;
margin: 50px;
text-align: center;
font-size: 75px;
font-style: italic;
}

body{
    background-color: #c5cbe3;
}

.recipe-headings{
    font-size: 35px;
    margin: 20px;   
    /* background-color: #0fa4af; */
    display: flex;
    flex-direction: column;
}

.recipe-1, .recipe-2, .recipe-3{
    background-color: #0fa4af;
    padding: 10px;
    margin: 10px;
    flex: 1;
}

